<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AssignServEmploy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>submitsignup</display-name>
    <servlet-name>submitsignup</servlet-name>
    <servlet-class>employee.submitsignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>submitsignup</servlet-name>
    <url-pattern>/submitsignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>validate</display-name>
    <servlet-name>validate</servlet-name>
    <servlet-class>employee.validate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validate</servlet-name>
    <url-pattern>/validate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employee</display-name>
    <servlet-name>employee</servlet-name>
    <servlet-class>employee.employee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employee</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>header</display-name>
    <servlet-name>header</servlet-name>
    <servlet-class>employee.header</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>header</servlet-name>
    <url-pattern>/header</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employeeresult</display-name>
    <servlet-name>employeeresult</servlet-name>
    <servlet-class>employee.employeeresult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeeresult</servlet-name>
    <url-pattern>/employeeresult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>details</display-name>
    <servlet-name>details</servlet-name>
    <servlet-class>employee.details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>details</servlet-name>
    <url-pattern>/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>employee.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signup</display-name>
    <servlet-name>signup</servlet-name>
    <servlet-class>employee.signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signupServ</display-name>
    <servlet-name>signupServ</servlet-name>
    <servlet-class>employee.signupServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signupServ</servlet-name>
    <url-pattern>/signupServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registered</display-name>
    <servlet-name>registered</servlet-name>
    <servlet-class>employee.registered</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registered</servlet-name>
    <url-pattern>/registered</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>employee.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>