<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC 
"-//SPRING//DTD BEAN//EN" 
"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	
	<bean id="currencyConverter" class="com.neelam.training.spring.ioc.example3.CurrencyConverterImpl" lazy-init="true">
	<constructor-arg><value>10</value></constructor-arg>
		<property name="exchangeService">
			<ref local ="exService" />
		</property>
	</bean>

	<bean id="exService" class="com.neelam.training.spring.ioc.example3.ExchangeServiceImpl" />


</beans>






