<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Albums</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>albumFetch</display-name>
    <servlet-name>albumFetch</servlet-name>
    <servlet-class>AlbumCart.albumFetch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>albumFetch</servlet-name>
    <url-pattern>/albumFetch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>categoryFetch</display-name>
    <servlet-name>categoryFetch</servlet-name>
    <servlet-class>AlbumCart.categoryFetch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>categoryFetch</servlet-name>
    <url-pattern>/categoryFetch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>albumList</display-name>
    <servlet-name>albumList</servlet-name>
    <servlet-class>AlbumCart.albumList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>albumList</servlet-name>
    <url-pattern>/albumList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>letsBuy</display-name>
    <servlet-name>letsBuy</servlet-name>
    <servlet-class>AlbumCart.letsBuy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>letsBuy</servlet-name>
    <url-pattern>/letsBuy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>purchase</display-name>
    <servlet-name>purchase</servlet-name>
    <servlet-class>AlbumCart.purchase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>purchase</servlet-name>
    <url-pattern>/purchase</url-pattern>
  </servlet-mapping>
</web-app>