<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>STATE_C</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Show</display-name>
    <servlet-name>Show</servlet-name>
    <servlet-class>statepack.Show</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Show</servlet-name>
    <url-pattern>/Show</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>start</display-name>
    <servlet-name>start</servlet-name>
    <servlet-class>start</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>start</servlet-name>
    <url-pattern>/start</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>validate</display-name>
    <servlet-name>validate</servlet-name>
    <servlet-class>validate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validate</servlet-name>
    <url-pattern>/validate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update</display-name>
    <servlet-name>update</servlet-name>
    <servlet-class>update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
</web-app>